* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #525252;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /* this will make our fonts rendering in a perfect way */
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto; /* top right bottom left */
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        /* we put linear-gradient on the top of the image to make it appear darker */
            url(img/hero.png);
    background-size: cover; /* makes us see the whole image */
    background-position: center;
    height: 100vh; /* 100vh means it's 100% of the viewport */
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%; /* moves children to the center */
    left: 50%;
    transform: translate(
        -50%,
        -50%
    ); /* moves text to the left 50% so it'll stay in the centre */
}

h1 {
    margin-bottom: 20px;
    margin-top: 0;
    color: #fff;
    font-size: 240%; /* it'll be 2 * 20px = 40px; */
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.btn:link,
.btn:visited /* btn link and btn visited have both the same style, so they both will look the same */ {
    display: inline-block; /* to create button ui we need to change display element from 'inline' to 'inline-block' */
    padding: 10px 30px; /* 10px from top and bottom, 30px from left and right */
    font-weight: 300;
    font-size: 90%;
    text-decoration: none; /* here we delete the text underline (uhh ugly shit) */
    border-radius: 200px; /* it makes the button round */
    transition: background-color 0.2s, border 0.2s, color 0.2s; /* so when we hover over those buttons the background color and other properties won't change instantaneously but over a period of 0.2sec */
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active /* we want the buttons to look the same while hover or active */ {
    background-color: #c6650f;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #c6650f;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #c6650f;
    color: #fff;
}
